.App {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}


.traffic-light {
  background-color: #888;
  padding: 8px;
  display: flex;
  flex-direction: column;

}


.light {
  background-color: yellow;
  height: 96px;
  width: 96px;
  opacity: 0.22;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  color: #000;
}
.light + .light {
  margin-top: 5px;

}

.light--red {
  background-color: red;
}

.light--yellow {
  background-color: yellow;
}

.light--green {
  background-color: green;
}

.light--active {
  opacity: 1;


}